/* line 6, ../sass/style.sass */
#socials {
  text-align: center;
}
/* line 8, ../sass/style.sass */
#socials i {
  padding: 7px;
  color: gray;
}

/* line 12, ../sass/style.sass */
body {
  font-family: Montserrat;
  background-color: white;
  color: #606060;
  width: 100%;
  height: 100%;
}

/* line 20, ../sass/style.sass */
header a {
  color: white;
}

/* line 23, ../sass/style.sass */
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 4em;
}

/* line 28, ../sass/style.sass */
.button1 {
  background-color: #606060;
  height: 50px;
  color: white;
  width: 12em;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}
/* line 36, ../sass/style.sass */
.button1 p {
  padding-top: 12px;
  font-size: 1.2em;
}

/* line 40, ../sass/style.sass */
.navbar-brand {
  padding: 0;
}

/* line 43, ../sass/style.sass */
.intro-body {
  padding-top: 0px;
  padding-left: 90px;
}

/* line 47, ../sass/style.sass */
.page-scroll {
  color: white;
}

/* line 50, ../sass/style.sass */
.fa-bar-chart {
  color: #0877ba;
}

/* line 53, ../sass/style.sass */
.fa-tachometer {
  color: #0877ba;
}

/* line 56, ../sass/style.sass */
.section5 {
  text-align: center;
  margin: 0 auto;
  background-image: url("../img/runners2.png");
  padding: 100px;
  color: white;
}
/* line 58, ../sass/style.sass */
.section5 row {
  text-align: center;
  margin: 0 auto;
}

/* line 66, ../sass/style.sass */
h6 {
  color: white;
  text-transform: none;
  font-size: 1.6em;
  font-weight: 300;
}

/* line 72, ../sass/style.sass */
h3 {
  color: white;
  text-transform: none;
  font-size: 2.3em;
  font-weight: 500;
}

/* line 78, ../sass/style.sass */
h2 {
  color: white;
  text-align: center;
  margin-top: -10px;
  font-size: 2.4em;
}

/* line 84, ../sass/style.sass */
.svgsize {
  width: 80px;
}

/* line 88, ../sass/style.sass */
#phone2 img {
  width: 90%;
  display: block;
  margin-left: 15%;
  margin-right: 0px;
}

/* line 95, ../sass/style.sass */
.rungospot img {
  size: 90%;
  max-width: 480px;
}

/* line 99, ../sass/style.sass */
.routetitle {
  text-align: center;
  color: #606060;
  text-transform: none;
  font-weight: 500;
  padding-bottom: 20px;
  margin-bottom: 0px;
  padding-top: 10px;
  font-size: 2em;
}

/* line 109, ../sass/style.sass */
.label {
  display: inline;
  padding: 0.5em 1.8em 0.5em;
  font-size: 0.65em;
  font-weight: 200;
  line-height: 1;
  color: #0877ba;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1.3em;
  font-size: 0.5em;
  text-transform: none;
}

/* line 123, ../sass/style.sass */
.label-primary {
  background-color: white;
  border-color: #0877ba;
  border-style: solid;
  border-width: 1px;
}

/* line 129, ../sass/style.sass */
h4 {
  color: #606060;
  text-align: left;
  font-size: 2.5em;
}

/* line 134, ../sass/style.sass */
.rungospot {
  width: 100%;
  height: 42em;
  background-color: #fbfbfb;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 40px;
}
/* line 142, ../sass/style.sass */
.rungospot h4 {
  text-align: left;
  text-transform: none;
}
/* line 145, ../sass/style.sass */
.rungospot p {
  color: #606060;
  text-align: left;
  font-weight: 100;
}

/* line 151, ../sass/style.sass */
#contact {
  background-color: #0877ba;
  width: 100%;
}

/* line 155, ../sass/style.sass */
footer {
  background-color: #444444;
  height: 140px;
  padding-top: 20px;
  text-align: center;
}
/* line 160, ../sass/style.sass */
footer .col-md-6 {
  text-align: center;
  padding-bottom: 40px;
}

/* line 164, ../sass/style.sass */
.shoutout {
  text-align: center;
}

/* line 167, ../sass/style.sass */
#contactForm {
  padding-bottom: 40px;
  margin-bottom: 20px;
}

/* line 171, ../sass/style.sass */
.textgroup {
  padding-top: 50px;
}

/* line 174, ../sass/style.sass */
.statsdetail2 {
  padding-bottom: 110px;
}

/* line 177, ../sass/style.sass */
.col-md-6 {
  text-align: left;
}

/* line 180, ../sass/style.sass */
.section1 {
  height: 250px;
  text-align: center;
}
/* line 183, ../sass/style.sass */
.section1 p {
  margin-bottom: 15px;
}
/* line 185, ../sass/style.sass */
.section1 h3 {
  color: #606060;
  padding: 40px;
  font-size: 1.5em;
  line-height: 2em;
}

/* line 194, ../sass/style.sass */
.intro-body {
  text-align: right;
}
/* line 197, ../sass/style.sass */
.intro-body #iphone1 {
  text-align: center;
}
/* line 199, ../sass/style.sass */
.intro-body #iphone1 img {
  height: 70%;
}

/* line 202, ../sass/style.sass */
#ios {
  text-align: center;
  height: 52px;
}

/* line 206, ../sass/style.sass */
#android {
  text-align: center;
  width: 150px;
}

/* line 210, ../sass/style.sass */
.runningstats {
  padding-top: 110px;
}
/* line 212, ../sass/style.sass */
.runningstats p {
  margin-right: 30%;
  font-weight: 200;
}

/* line 217, ../sass/style.sass */
.brand-heading {
  padding-top: 60px;
  text-transform: none;
  margin-bottom: 0px;
}
/* line 221, ../sass/style.sass */
.brand-heading img {
  width: 70%;
}

/* line 224, ../sass/style.sass */
#boxback {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.83);
  height: 220px;
  width: 500px;
  margin: 0 auto;
  padding-top: 20px;
}
/* line 225, ../sass/style.sass */
#boxback h1 {
  opacity: 0.99;
}

/* line 236, ../sass/style.sass */
#contacts {
  background-color: #0877ba;
}
/* line 238, ../sass/style.sass */
#contacts .row {
  background-color: #0877ba;
}
/* line 240, ../sass/style.sass */
#contacts .well {
  background-color: #0877ba;
}

/* line 243, ../sass/style.sass */
.btn {
  float: left;
  background-color: #3eb6ff;
}

/* line 247, ../sass/style.sass */
.sayhi {
  color: white;
  padding: 0;
  padding-top: 30px;
}

/* line 252, ../sass/style.sass */
#phone2 {
  text-align: right;
}

/* line 256, ../sass/style.sass */
.textgroup {
  padding-left: 90px;
}

/* line 259, ../sass/style.sass */
.form-control {
  background-color: #02456d;
  border: none;
  color: white;
  border-radius: 0;
}

/* line 266, ../sass/style.sass */
.runningstats {
  padding-bottom: 90px;
}

/* line 269, ../sass/style.sass */
.video {
  padding: 60px;
  text-align: center;
  background-color: whitesmoke;
}
/* line 273, ../sass/style.sass */
.video h2 {
  padding: 0px;
}

/* line 277, ../sass/style.sass */
#social img {
  height: 40px;
}

/* line 281, ../sass/style.sass */
footer a:link {
  font-size: 3em;
  color: white;
}

/* line 285, ../sass/style.sass */
i {
  font-size: 3em;
  font-size-color: white;
}

/* line 290, ../sass/style.sass */
.col-md-6 a {
  font-size: 3em;
  color: white;
}

/* line 294, ../sass/style.sass */
iframe {
  width: 700px;
  height: 400px;
}

@media (max-width: 992px) {
  /* line 300, ../sass/style.sass */
  h1 {
    color: white;
  }

  /* line 302, ../sass/style.sass */
  .rungospot {
    height: 32em;
  }
  /* line 304, ../sass/style.sass */
  .rungospot h4 {
    text-align: left;
  }
  /* line 306, ../sass/style.sass */
  .rungospot p {
    text-align: left;
    margin-left: 0%;
    padding-left: 20%;
    padding-right: 20%;
  }
  /* line 311, ../sass/style.sass */
  .rungospot img {
    text-align: center;
    height: 400px;
  }
  /* line 314, ../sass/style.sass */
  .rungospot .col-md-6 {
    text-align: left;
  }

  /* line 316, ../sass/style.sass */
  #contactForm {
    padding: 0px;
  }

  /* line 319, ../sass/style.sass */
  #iphone1 img {
    height: 200px;
  }

  /* line 321, ../sass/style.sass */
  .brand-heading {
    text-align: center;
    padding-top: 60px;
  }
  /* line 324, ../sass/style.sass */
  .brand-heading img {
    width: 170px;
  }

  /* line 326, ../sass/style.sass */
  .intro-text {
    text-align: center;
  }

  /* line 329, ../sass/style.sass */
  #iphone1 img {
    height: 350px;
  }

  /* line 331, ../sass/style.sass */
  #app {
    text-align: center;
  }

  /* line 333, ../sass/style.sass */
  .col-md-4 {
    position: relative;
  }

  /* line 335, ../sass/style.sass */
  .section1 {
    margin-bottom: 400px;
    position: relative;
  }

  /* line 338, ../sass/style.sass */
  .textgroup {
    text-align: center;
    margin: 0 auto;
  }
  /* line 341, ../sass/style.sass */
  .textgroup h4 {
    test-align: center;
    margin: 0 auto;
  }

  /* line 344, ../sass/style.sass */
  .runningstats {
    margin: 0 auto;
    padding-top: 30px;
  }
  /* line 347, ../sass/style.sass */
  .runningstats p {
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  /* line 352, ../sass/style.sass */
  .runningstats h4 {
    color: #606060;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
  }

  /* line 357, ../sass/style.sass */
  iframe {
    width: 300px;
    height: 250px;
  }

  /* line 361, ../sass/style.sass */
  .shoutout img {
    padding: 16px;
  }

  /* line 363, ../sass/style.sass */
  .intro-body {
    padding-left: 0px;
  }
  /* line 366, ../sass/style.sass */
  .intro-body #iphone1 img {
    height: 500px;
  }

  /* line 369, ../sass/style.sass */
  h2 {
    font-size: 2.8em;
  }
}
@media (max-width: 767px) {
  /* line 374, ../sass/style.sass */
  .brand-heading {
    padding-top: 0px;
  }
}
